.announcement {
    background-color: rgb(var(--mdui-color-secondary-container));
    color: rgb(var(--mdui-color-on-secondary-container));
    padding: 16px;
    border-radius: var(--mdui-shape-corner-large);
    box-shadow: var(--mdui-elevation-level5);
}